<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rstarapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.rankingstar.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>share</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rankingstar.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb467507857286658</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rankingstar.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.233608466577-rfs86nredkt2ph973fc3uuqvr01a4711</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rankingstar.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoa6b3933e5b425ac2e27a134cb851fbc9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rankingstar.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thirdparty20samplegame</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>467507857286658</string>
	<key>FacebookDisplayName</key>
	<string>RankingStar</string>
	<key>KAKAO_APP_KEY</key>
	<string>a6b3933e5b425ac2e27a134cb851fbc9</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>http://rankingstar.cafe24.com</string>
		<string>share</string>
		<string>kakaoa6b3933e5b425ac2e27a134cb851fbc9</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>kakaotalk-4.5.0</string>
		<string>kakaostory-2.9.0</string>
		<string>storylink</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb</string>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>naversearchapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>${PRODUCT_NAME} Camera Usage</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>${PRODUCT_NAME} Microphone Usage</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>${PRODUCT_NAME} Photos add description.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${PRODUCT_NAME} Photos description.</string>
	<key>UIAppFonts</key>
	<array>
		<string>NanumGothicBold.ttf</string>
		<string>NanumGothicExtraBold.ttf</string>
		<string>NanumGothicRegular.ttf</string>
		<string>NanumBarunGothic.ttf</string>
		<string>NanumBarunGothicBold.ttf</string>
		<string>NanumBarunGothicLight.ttf</string>
		<string>NanumBarunGothicUltraLight.ttf</string>
		<string>Signika-Bold.ttf</string>
		<string>Signika-Light.ttf</string>
		<string>Signika-Regular.ttf</string>
		<string>Signika-Semibold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>tnkad_app_id</key>
	<string>5040b010-c021-0702-2070-120b0b010e03
5040b010-c021-0702-2070-120b0b010e03
5040b010-c021-0702-2070-120b0b010e03
5040b010-c021-0702-2070-120b0b010e03</string>
</dict>
</plist>
